In [1]:
# HAVING
# 3번 이상 렌트한 유저 목록을 뽑는다

In [2]:
import pandas as pd
import numpy as np

import MySQLdb


db = MySQLdb.connect(
    "db.fastcamp.us",  # DATABASE_HOST
    "root",  # DATABASE_USERNAME
    "dkstncks",  # DATABASE_PASSWORD
    "sakila",  # DATABASE_NAME
    charset='utf8',
)

In [3]:
SQL_QUERY = """
    SELECT 
        rental.customer_id,
        COUNT(rental.rental_id)
    FROM 
        rental
    GROUP BY 1
    HAVING COUNT(rental.rental_id) >= 30
    ;
"""

pd.read_sql(SQL_QUERY, db)

     customer_id  COUNT(rental.rental_id)
0              1                       32
1              5                       38
2              7                       33
3             15                       32
4             20                       30
5             21                       35
6             23                       30
7             26                       34
8             27                       31
9             28                       32
10            29                       36
11            30                       34
12            35                       32
13            38                       34
14            42                       30
15            46                       34
16            50                       35
17            51                       33
18            53                       30
19            56                       30
20            64                       33
21            66                       34
22            71                       30
23            72                       30
24            75                       41
25            78                       31
26            80                       30
27            84                       33
28            86                       33
29            87                       30
..           ...                      ...
148          452                       32
149          454                       33
150          459                       38
151          462                       33
152          468                       39
153          469                       40
154          470                       32
155          472                       30
156          473                       34
157          479                       31
158          484                       30
159          494                       31
160          499                       30
161          502                       34
162          503                       32
163          506                       35
164          513                       31
165          520                       32
166          522                       33
167          526                       45
168          532                       32
169          533                       33
170          535                       32
171          550                       32
172          560                       30
173          566                       34
174          569                       32
175          576                       34
176          584                       30
177          595                       30

[178 rows x 2 columns]

In [4]:
# Subquery

SQL_QUERY = """
    SELECT 
        rental.customer_id,
        COUNT(rental.rental_id)
    FROM 
        rental
    GROUP BY 1
    HAVING COUNT(rental.rental_id) >= 30
"""

NEW_SQL_QUERY = """
    SELECT *
    FROM 
        customer
    JOIN ({SQL_QUERY}) AS many_rental_customer
    ON many_rental_customer.customer_id = customer.customer_id
""".format(SQL_QUERY=SQL_QUERY)

print(NEW_SQL_QUERY)

    SELECT *
    FROM
        customer
    JOIN (
    SELECT
        rental.customer_id,
        COUNT(rental.rental_id)
    FROM
        rental
    GROUP BY 1
    HAVING COUNT(rental.rental_id) >= 30
) AS many_rental_customer
    ON many_rental_customer.customer_id = customer.customer_id

In [5]:
pd.read_sql(NEW_SQL_QUERY, db).head()

,customer_id,store_id,first_name,last_name,email,address_id,active,create_date,last_update,customer_id,COUNT(rental.rental_id)
0,1,1,MARY,SMITH,MARY.SMITH@sakilacustomer.org,5,1,2006-02-14 22:04:36,2006-02-15 04:57:20,1,32
1,5,1,ELIZABETH,BROWN,ELIZABETH.BROWN@sakilacustomer.org,9,1,2006-02-14 22:04:36,2006-02-15 04:57:20,5,38
2,7,1,MARIA,MILLER,MARIA.MILLER@sakilacustomer.org,11,1,2006-02-14 22:04:36,2006-02-15 04:57:20,7,33
3,15,1,HELEN,HARRIS,HELEN.HARRIS@sakilacustomer.org,19,1,2006-02-14 22:04:36,2006-02-15 04:57:20,15,32
4,20,2,SHARON,ROBINSON,SHARON.ROBINSON@sakilacustomer.org,24,1,2006-02-14 22:04:36,2006-02-15 04:57:20,20,30

In [6]:
# Pandas Perspective

In [7]:
customer_df = pd.read_sql("SELECT * FROM customer;", db)
customer_df.head()

,customer_id,store_id,first_name,last_name,email,address_id,active,create_date,last_update
0,1,1,MARY,SMITH,MARY.SMITH@sakilacustomer.org,5,1,2006-02-14 22:04:36,2006-02-15 04:57:20
1,2,1,PATRICIA,JOHNSON,PATRICIA.JOHNSON@sakilacustomer.org,6,1,2006-02-14 22:04:36,2006-02-15 04:57:20
2,3,1,LINDA,WILLIAMS,LINDA.WILLIAMS@sakilacustomer.org,7,1,2006-02-14 22:04:36,2006-02-15 04:57:20
3,4,2,BARBARA,JONES,BARBARA.JONES@sakilacustomer.org,8,1,2006-02-14 22:04:36,2006-02-15 04:57:20
4,5,1,ELIZABETH,BROWN,ELIZABETH.BROWN@sakilacustomer.org,9,1,2006-02-14 22:04:36,2006-02-15 04:57:20

In [8]:
rental_df = pd.read_sql("SELECT * FROM rental", db)
rental_df.head()

,rental_id,rental_date,inventory_id,customer_id,return_date,staff_id,last_update
0,1,2005-05-24 22:53:30,367,130,2005-05-26 22:04:30,1,2006-02-15 21:30:53
1,2,2005-05-24 22:54:33,1525,459,2005-05-28 19:40:33,1,2006-02-15 21:30:53
2,3,2005-05-24 23:03:39,1711,408,2005-06-01 22:12:39,1,2006-02-15 21:30:53
3,4,2005-05-24 23:04:41,2452,333,2005-06-03 01:43:41,2,2006-02-15 21:30:53
4,5,2005-05-24 23:05:21,2079,222,2005-06-02 04:33:21,1,2006-02-15 21:30:53

In [9]:
rentals_per_customer_df = rental_df.groupby('customer_id').agg({'customer_id': [np.size]})
rentals_per_customer_df.head()

            customer_id
                   size
customer_id
1                    32
2                    27
3                    26
4                    22
5                    38

In [10]:
rentals_per_customer_df.columns = rentals_per_customer_df.columns.droplevel()
rentals_per_customer_df["customer_id"] = rentals_per_customer_df.index

In [11]:
merged_customer_df = pd.merge(customer_df, rentals_per_customer_df, on="customer_id")

In [12]:
merged_customer_df.rename(columns={
    "size": "Total Rental Count",        
}, inplace=True)

In [13]:
merged_customer_df

,customer_id,store_id,first_name,last_name,email,address_id,active,create_date,last_update,Total Rental Count
0,1,1,MARY,SMITH,MARY.SMITH@sakilacustomer.org,5,1,2006-02-14 22:04:36,2006-02-15 04:57:20,32
1,2,1,PATRICIA,JOHNSON,PATRICIA.JOHNSON@sakilacustomer.org,6,1,2006-02-14 22:04:36,2006-02-15 04:57:20,27
2,3,1,LINDA,WILLIAMS,LINDA.WILLIAMS@sakilacustomer.org,7,1,2006-02-14 22:04:36,2006-02-15 04:57:20,26
3,4,2,BARBARA,JONES,BARBARA.JONES@sakilacustomer.org,8,1,2006-02-14 22:04:36,2006-02-15 04:57:20,22
4,5,1,ELIZABETH,BROWN,ELIZABETH.BROWN@sakilacustomer.org,9,1,2006-02-14 22:04:36,2006-02-15 04:57:20,38
5,6,2,JENNIFER,DAVIS,JENNIFER.DAVIS@sakilacustomer.org,10,1,2006-02-14 22:04:36,2006-02-15 04:57:20,28
6,7,1,MARIA,MILLER,MARIA.MILLER@sakilacustomer.org,11,1,2006-02-14 22:04:36,2006-02-15 04:57:20,33
7,8,2,SUSAN,WILSON,SUSAN.WILSON@sakilacustomer.org,12,1,2006-02-14 22:04:36,2006-02-15 04:57:20,24
8,9,2,MARGARET,MOORE,MARGARET.MOORE@sakilacustomer.org,13,1,2006-02-14 22:04:36,2006-02-15 04:57:20,23
9,10,1,DOROTHY,TAYLOR,DOROTHY.TAYLOR@sakilacustomer.org,14,1,2006-02-14 22:04:36,2006-02-15 04:57:20,25
10,11,2,LISA,ANDERSON,LISA.ANDERSON@sakilacustomer.org,15,1,2006-02-14 22:04:36,2006-02-15 04:57:20,24
11,12,1,NANCY,THOMAS,NANCY.THOMAS@sakilacustomer.org,16,1,2006-02-14 22:04:36,2006-02-15 04:57:20,28
12,13,2,KAREN,JACKSON,KAREN.JACKSON@sakilacustomer.org,17,1,2006-02-14 22:04:36,2006-02-15 04:57:20,27
13,14,2,BETTY,WHITE,BETTY.WHITE@sakilacustomer.org,18,1,2006-02-14 22:04:36,2006-02-15 04:57:20,28
14,15,1,HELEN,HARRIS,HELEN.HARRIS@sakilacustomer.org,19,1,2006-02-14 22:04:36,2006-02-15 04:57:20,32
15,16,2,SANDRA,MARTIN,SANDRA.MARTIN@sakilacustomer.org,20,0,2006-02-14 22:04:36,2006-02-15 04:57:20,28
16,17,1,DONNA,THOMPSON,DONNA.THOMPSON@sakilacustomer.org,21,1,2006-02-14 22:04:36,2006-02-15 04:57:20,21
17,18,2,CAROL,GARCIA,CAROL.GARCIA@sakilacustomer.org,22,1,2006-02-14 22:04:36,2006-02-15 04:57:20,22
18,19,1,RUTH,MARTINEZ,RUTH.MARTINEZ@sakilacustomer.org,23,1,2006-02-14 22:04:36,2006-02-15 04:57:20,24
19,20,2,SHARON,ROBINSON,SHARON.ROBINSON@sakilacustomer.org,24,1,2006-02-14 22:04:36,2006-02-15 04:57:20,30
20,21,1,MICHELLE,CLARK,MICHELLE.CLARK@sakilacustomer.org,25,1,2006-02-14 22:04:36,2006-02-15 04:57:20,35
21,22,1,LAURA,RODRIGUEZ,LAURA.RODRIGUEZ@sakilacustomer.org,26,1,2006-02-14 22:04:36,2006-02-15 04:57:20,22
22,23,2,SARAH,LEWIS,SARAH.LEWIS@sakilacustomer.org,27,1,2006-02-14 22:04:36,2006-02-15 04:57:20,30
23,24,2,KIMBERLY,LEE,KIMBERLY.LEE@sakilacustomer.org,28,1,2006-02-14 22:04:36,2006-02-15 04:57:20,25
24,25,1,DEBORAH,WALKER,DEBORAH.WALKER@sakilacustomer.org,29,1,2006-02-14 22:04:36,2006-02-15 04:57:20,29
25,26,2,JESSICA,HALL,JESSICA.HALL@sakilacustomer.org,30,1,2006-02-14 22:04:36,2006-02-15 04:57:20,34
26,27,2,SHIRLEY,ALLEN,SHIRLEY.ALLEN@sakilacustomer.org,31,1,2006-02-14 22:04:36,2006-02-15 04:57:20,31
27,28,1,CYNTHIA,YOUNG,CYNTHIA.YOUNG@sakilacustomer.org,32,1,2006-02-14 22:04:36,2006-02-15 04:57:20,32
28,29,2,ANGELA,HERNANDEZ,ANGELA.HERNANDEZ@sakilacustomer.org,33,1,2006-02-14 22:04:36,2006-02-15 04:57:20,36
29,30,1,MELISSA,KING,MELISSA.KING@sakilacustomer.org,34,1,2006-02-14 22:04:36,2006-02-15 04:57:20,34
...,...,...,...,...,...,...,...,...,...,...
569,570,2,IVAN,CROMWELL,IVAN.CROMWELL@sakilacustomer.org,576,1,2006-02-14 22:04:37,2006-02-15 04:57:20,26
570,571,2,JOHNNIE,CHISHOLM,JOHNNIE.CHISHOLM@sakilacustomer.org,577,1,2006-02-14 22:04:37,2006-02-15 04:57:20,24
571,572,1,SIDNEY,BURLESON,SIDNEY.BURLESON@sakilacustomer.org,578,1,2006-02-14 22:04:37,2006-02-15 04:57:20,25
572,573,1,BYRON,BOX,BYRON.BOX@sakilacustomer.org,579,1,2006-02-14 22:04:37,2006-02-15 04:57:20,29
573,574,2,JULIAN,VEST,JULIAN.VEST@sakilacustomer.org,580,1,2006-02-14 22:04:37,2006-02-15 04:57:20,28
574,575,2,ISAAC,OGLESBY,ISAAC.OGLESBY@sakilacustomer.org,581,1,2006-02-14 22:04:37,2006-02-15 04:57:20,29
575,576,2,MORRIS,MCCARTER,MORRIS.MCCARTER@sakilacustomer.org,582,1,2006-02-14 22:04:37,2006-02-15 04:57:20,34
576,577,2,CLIFTON,MALCOLM,CLIFTON.MALCOLM@sakilacustomer.org,583,1,2006-02-14 22:04:37,2006-02-15 04:57:20,27
577,578,2,WILLARD,LUMPKIN,WILLARD.LUMPKIN@sakilacustomer.org,584,1,2006-02-14 22:04:37,2006-02-15 04:57:20,22
578,579,2,DARYL,LARUE,DARYL.LARUE@sakilacustomer.org,585,1,2006-02-14 22:04:37,2006-02-15 04:57:20,27
579,580,1,ROSS,GREY,ROSS.GREY@sakilacustomer.org,586,1,2006-02-14 22:04:37,2006-02-15 04:57:20,27
580,581,1,VIRGIL,WOFFORD,VIRGIL.WOFFORD@sakilacustomer.org,587,1,2006-02-14 22:04:37,2006-02-15 04:57:20,27
581,582,2,ANDY,VANHORN,ANDY.VANHORN@sakilacustomer.org,588,1,2006-02-14 22:04:37,2006-02-15 04:57:20,25
582,583,1,MARSHALL,THORN,MARSHALL.THORN@sakilacustomer.org,589,1,2006-02-14 22:04:37,2006-02-15 04:57:20,23
583,584,2,SALVADOR,TEEL,SALVADOR.TEEL@sakilacustomer.org,590,1,2006-02-14 22:04:37,2006-02-15 04:57:20,30
584,585,1,PERRY,SWAFFORD,PERRY.SWAFFORD@sakilacustomer.org,591,1,2006-02-14 22:04:37,2006-02-15 04:57:20,24
585,586,1,KIRK,STCLAIR,KIRK.STCLAIR@sakilacustomer.org,592,1,2006-02-14 22:04:37,2006-02-15 04:57:20,19
586,587,1,SERGIO,STANFIELD,SERGIO.STANFIELD@sakilacustomer.org,593,1,2006-02-14 22:04:37,2006-02-15 04:57:20,26
587,588,1,MARION,OCAMPO,MARION.OCAMPO@sakilacustomer.org,594,1,2006-02-14 22:04:37,2006-02-15 04:57:20,29
588,589,1,TRACY,HERRMANN,TRACY.HERRMANN@sakilacustomer.org,595,1,2006-02-14 22:04:37,2006-02-15 04:57:20,28
589,590,2,SETH,HANNON,SETH.HANNON@sakilacustomer.org,596,1,2006-02-14 22:04:37,2006-02-15 04:57:20,25
590,591,1,KENT,ARSENAULT,KENT.ARSENAULT@sakilacustomer.org,597,1,2006-02-14 22:04:37,2006-02-15 04:57:20,27
591,592,1,TERRANCE,ROUSH,TERRANCE.ROUSH@sakilacustomer.org,598,0,2006-02-14 22:04:37,2006-02-15 04:57:20,29
592,593,2,RENE,MCALISTER,RENE.MCALISTER@sakilacustomer.org,599,1,2006-02-14 22:04:37,2006-02-15 04:57:20,26
593,594,1,EDUARDO,HIATT,EDUARDO.HIATT@sakilacustomer.org,600,1,2006-02-14 22:04:37,2006-02-15 04:57:20,27
594,595,1,TERRENCE,GUNDERSON,TERRENCE.GUNDERSON@sakilacustomer.org,601,1,2006-02-14 22:04:37,2006-02-15 04:57:20,30
595,596,1,ENRIQUE,FORSYTHE,ENRIQUE.FORSYTHE@sakilacustomer.org,602,1,2006-02-14 22:04:37,2006-02-15 04:57:20,28
596,597,1,FREDDIE,DUGGAN,FREDDIE.DUGGAN@sakilacustomer.org,603,1,2006-02-14 22:04:37,2006-02-15 04:57:20,25
597,598,1,WADE,DELVALLE,WADE.DELVALLE@sakilacustomer.org,604,1,2006-02-14 22:04:37,2006-02-15 04:57:20,22
598,599,2,AUSTIN,CINTRON,AUSTIN.CINTRON@sakilacustomer.org,605,1,2006-02-14 22:04:37,2006-02-15 04:57:20,19

In [14]:
merged_customer_df[merged_customer_df["Total Rental Count"] >= 30]

,customer_id,store_id,first_name,last_name,email,address_id,active,create_date,last_update,Total Rental Count
0,1,1,MARY,SMITH,MARY.SMITH@sakilacustomer.org,5,1,2006-02-14 22:04:36,2006-02-15 04:57:20,32
4,5,1,ELIZABETH,BROWN,ELIZABETH.BROWN@sakilacustomer.org,9,1,2006-02-14 22:04:36,2006-02-15 04:57:20,38
6,7,1,MARIA,MILLER,MARIA.MILLER@sakilacustomer.org,11,1,2006-02-14 22:04:36,2006-02-15 04:57:20,33
14,15,1,HELEN,HARRIS,HELEN.HARRIS@sakilacustomer.org,19,1,2006-02-14 22:04:36,2006-02-15 04:57:20,32
19,20,2,SHARON,ROBINSON,SHARON.ROBINSON@sakilacustomer.org,24,1,2006-02-14 22:04:36,2006-02-15 04:57:20,30
20,21,1,MICHELLE,CLARK,MICHELLE.CLARK@sakilacustomer.org,25,1,2006-02-14 22:04:36,2006-02-15 04:57:20,35
22,23,2,SARAH,LEWIS,SARAH.LEWIS@sakilacustomer.org,27,1,2006-02-14 22:04:36,2006-02-15 04:57:20,30
25,26,2,JESSICA,HALL,JESSICA.HALL@sakilacustomer.org,30,1,2006-02-14 22:04:36,2006-02-15 04:57:20,34
26,27,2,SHIRLEY,ALLEN,SHIRLEY.ALLEN@sakilacustomer.org,31,1,2006-02-14 22:04:36,2006-02-15 04:57:20,31
27,28,1,CYNTHIA,YOUNG,CYNTHIA.YOUNG@sakilacustomer.org,32,1,2006-02-14 22:04:36,2006-02-15 04:57:20,32
28,29,2,ANGELA,HERNANDEZ,ANGELA.HERNANDEZ@sakilacustomer.org,33,1,2006-02-14 22:04:36,2006-02-15 04:57:20,36
29,30,1,MELISSA,KING,MELISSA.KING@sakilacustomer.org,34,1,2006-02-14 22:04:36,2006-02-15 04:57:20,34
34,35,2,VIRGINIA,GREEN,VIRGINIA.GREEN@sakilacustomer.org,39,1,2006-02-14 22:04:36,2006-02-15 04:57:20,32
37,38,1,MARTHA,GONZALEZ,MARTHA.GONZALEZ@sakilacustomer.org,42,1,2006-02-14 22:04:36,2006-02-15 04:57:20,34
41,42,2,CAROLYN,PEREZ,CAROLYN.PEREZ@sakilacustomer.org,46,1,2006-02-14 22:04:36,2006-02-15 04:57:20,30
45,46,2,CATHERINE,CAMPBELL,CATHERINE.CAMPBELL@sakilacustomer.org,50,1,2006-02-14 22:04:36,2006-02-15 04:57:20,34
49,50,1,DIANE,COLLINS,DIANE.COLLINS@sakilacustomer.org,54,1,2006-02-14 22:04:36,2006-02-15 04:57:20,35
50,51,1,ALICE,STEWART,ALICE.STEWART@sakilacustomer.org,55,1,2006-02-14 22:04:36,2006-02-15 04:57:20,33
52,53,1,HEATHER,MORRIS,HEATHER.MORRIS@sakilacustomer.org,57,1,2006-02-14 22:04:36,2006-02-15 04:57:20,30
55,56,1,GLORIA,COOK,GLORIA.COOK@sakilacustomer.org,60,1,2006-02-14 22:04:36,2006-02-15 04:57:20,30
63,64,2,JUDITH,COX,JUDITH.COX@sakilacustomer.org,68,0,2006-02-14 22:04:36,2006-02-15 04:57:20,33
65,66,2,JANICE,WARD,JANICE.WARD@sakilacustomer.org,70,1,2006-02-14 22:04:36,2006-02-15 04:57:20,34
70,71,1,KATHY,JAMES,KATHY.JAMES@sakilacustomer.org,75,1,2006-02-14 22:04:36,2006-02-15 04:57:20,30
71,72,2,THERESA,WATSON,THERESA.WATSON@sakilacustomer.org,76,1,2006-02-14 22:04:36,2006-02-15 04:57:20,30
74,75,2,TAMMY,SANDERS,TAMMY.SANDERS@sakilacustomer.org,79,1,2006-02-14 22:04:36,2006-02-15 04:57:20,41
77,78,1,LORI,WOOD,LORI.WOOD@sakilacustomer.org,82,1,2006-02-14 22:04:36,2006-02-15 04:57:20,31
79,80,1,MARILYN,ROSS,MARILYN.ROSS@sakilacustomer.org,84,1,2006-02-14 22:04:36,2006-02-15 04:57:20,30
83,84,2,SARA,PERRY,SARA.PERRY@sakilacustomer.org,88,1,2006-02-14 22:04:36,2006-02-15 04:57:20,33
85,86,2,JACQUELINE,LONG,JACQUELINE.LONG@sakilacustomer.org,90,1,2006-02-14 22:04:36,2006-02-15 04:57:20,33
86,87,1,WANDA,PATTERSON,WANDA.PATTERSON@sakilacustomer.org,91,1,2006-02-14 22:04:36,2006-02-15 04:57:20,30
...,...,...,...,...,...,...,...,...,...,...
451,452,1,TOM,MILNER,TOM.MILNER@sakilacustomer.org,457,1,2006-02-14 22:04:37,2006-02-15 04:57:20,32
453,454,2,ALEX,GRESHAM,ALEX.GRESHAM@sakilacustomer.org,459,1,2006-02-14 22:04:37,2006-02-15 04:57:20,33
458,459,1,TOMMY,COLLAZO,TOMMY.COLLAZO@sakilacustomer.org,464,1,2006-02-14 22:04:37,2006-02-15 04:57:20,38
461,462,2,WARREN,SHERROD,WARREN.SHERROD@sakilacustomer.org,467,1,2006-02-14 22:04:37,2006-02-15 04:57:20,33
467,468,1,TIM,CARY,TIM.CARY@sakilacustomer.org,473,1,2006-02-14 22:04:37,2006-02-15 04:57:20,39
468,469,2,WESLEY,BULL,WESLEY.BULL@sakilacustomer.org,474,1,2006-02-14 22:04:37,2006-02-15 04:57:20,40
469,470,1,GORDON,ALLARD,GORDON.ALLARD@sakilacustomer.org,475,1,2006-02-14 22:04:37,2006-02-15 04:57:20,32
471,472,1,GREG,ROBINS,GREG.ROBINS@sakilacustomer.org,477,1,2006-02-14 22:04:37,2006-02-15 04:57:20,30
472,473,2,JORGE,OLIVARES,JORGE.OLIVARES@sakilacustomer.org,478,1,2006-02-14 22:04:37,2006-02-15 04:57:20,34
478,479,1,ZACHARY,HITE,ZACHARY.HITE@sakilacustomer.org,484,1,2006-02-14 22:04:37,2006-02-15 04:57:20,31
483,484,1,ROBERTO,VU,ROBERTO.VU@sakilacustomer.org,489,1,2006-02-14 22:04:37,2006-02-15 04:57:20,30
493,494,2,RAMON,CHOATE,RAMON.CHOATE@sakilacustomer.org,499,1,2006-02-14 22:04:37,2006-02-15 04:57:20,31
498,499,2,MARC,OUTLAW,MARC.OUTLAW@sakilacustomer.org,504,1,2006-02-14 22:04:37,2006-02-15 04:57:20,30
501,502,1,BRETT,CORNWELL,BRETT.CORNWELL@sakilacustomer.org,507,1,2006-02-14 22:04:37,2006-02-15 04:57:20,34
502,503,1,ANGEL,BARCLAY,ANGEL.BARCLAY@sakilacustomer.org,508,1,2006-02-14 22:04:37,2006-02-15 04:57:20,32
505,506,2,LESLIE,SEWARD,LESLIE.SEWARD@sakilacustomer.org,511,1,2006-02-14 22:04:37,2006-02-15 04:57:20,35
512,513,2,DUANE,TUBBS,DUANE.TUBBS@sakilacustomer.org,519,1,2006-02-14 22:04:37,2006-02-15 04:57:20,31
519,520,2,MITCHELL,WESTMORELAND,MITCHELL.WESTMORELAND@sakilacustomer.org,526,1,2006-02-14 22:04:37,2006-02-15 04:57:20,32
521,522,2,ARNOLD,HAVENS,ARNOLD.HAVENS@sakilacustomer.org,528,1,2006-02-14 22:04:37,2006-02-15 04:57:20,33
525,526,2,KARL,SEAL,KARL.SEAL@sakilacustomer.org,532,1,2006-02-14 22:04:37,2006-02-15 04:57:20,45
531,532,2,NEIL,RENNER,NEIL.RENNER@sakilacustomer.org,538,1,2006-02-14 22:04:37,2006-02-15 04:57:20,32
532,533,1,JESSIE,MILAM,JESSIE.MILAM@sakilacustomer.org,539,1,2006-02-14 22:04:37,2006-02-15 04:57:20,33
534,535,1,JAVIER,ELROD,JAVIER.ELROD@sakilacustomer.org,541,1,2006-02-14 22:04:37,2006-02-15 04:57:20,32
549,550,2,GUY,BROWNLEE,GUY.BROWNLEE@sakilacustomer.org,556,1,2006-02-14 22:04:37,2006-02-15 04:57:20,32
559,560,1,JORDAN,ARCHULETA,JORDAN.ARCHULETA@sakilacustomer.org,566,1,2006-02-14 22:04:37,2006-02-15 04:57:20,30
565,566,1,CASEY,MENA,CASEY.MENA@sakilacustomer.org,572,1,2006-02-14 22:04:37,2006-02-15 04:57:20,34
568,569,2,DAVE,GARDINER,DAVE.GARDINER@sakilacustomer.org,575,1,2006-02-14 22:04:37,2006-02-15 04:57:20,32
575,576,2,MORRIS,MCCARTER,MORRIS.MCCARTER@sakilacustomer.org,582,1,2006-02-14 22:04:37,2006-02-15 04:57:20,34
583,584,2,SALVADOR,TEEL,SALVADOR.TEEL@sakilacustomer.org,590,1,2006-02-14 22:04:37,2006-02-15 04:57:20,30
594,595,1,TERRENCE,GUNDERSON,TERRENCE.GUNDERSON@sakilacustomer.org,601,1,2006-02-14 22:04:37,2006-02-15 04:57:20,30